@import '/src/shared/ui/variables.scss';

.gallery {
  min-width: $mobile-min-width;
  min-height: 100vh;
  padding: 0 20px;
  background-color: $primary-black;
  
  @media (min-width: $desktop-min-width) {
    padding: 0 100px;
  }
}

.gallery-light {
  background-color: $primary-white;
}

.container {
  display: flex;
  flex-direction: column;
}
