$mobile-min-width: 320px;
$tablet-narrow-min-width: 768px;
$tablet-wide-min-width: 1280px;
$desktop-min-width: 1440px;

$primary-white: #ffffff;
$primary-black: #121212;
$primary-light-gray: #dedede;
$primary-dark-gray: #575757;

$secondary-white: #fcfcfc;
$secondary-black: #1a1818;
$secondary-gray: #9c9c9c;

$accent-red: #9b4b4b;
$accent-gold: #ab8956;

$header-font-family: 'Cormorant SC', 'Times New Roman', Times, serif;
$paragraph-font-family: 'Inter', Arial, Helvetica, sans-serif;

$font-paragraph-big-light: 300 16px/1.4 $paragraph-font-family;
$font-paragraph-big-medium: 500 16px/1.4 $paragraph-font-family;
